@import "variables";

aside.drawer {
  flex: 0 0 0;
  transition: flex-basis ease-in-out 450ms;
  max-height: calc(100vh - 56px);
  overflow: auto;
  padding: 0;

  a {
    color: $menuTextColor;
  }

  &.drawer--open {
    flex-basis: 240px;
    max-width: 40vw;
    .drawer-content {
      width: 100%;
    }
  }

  &.drawer--in-transition {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }

  .list-toggle-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .drawer-content {
    overflow: hidden;
    width: 0;
    transition: width ease-in-out 450ms;

    .list-group-item {
      background-color: transparent;
      color: $menuTextColor;
      padding: 0.25rem 1rem;
      border-color: $darkDirtColor;
      transition: background-color 350ms;

      &.active {
        color: $menuActive;
        background-color: $menuActiveBG;
      }
      &:hover {
        color: $menuHover;
        background-color: $menuHoverBG;
      }

      &.group-header {
        &.group-header--open {
          background-color: $menuGroupOpenBG;
          color: $menuHover;
        }
      }
    }

    .collapsible-list {
      ul {
        padding-left: 0;
      }
    }
  }
}