@import "variables";

.site {
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;

  &.site--has-bg-image {
    .site--description {
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem 2rem;
      a {
        color: $bodyBgColor;
      }
    }
  }
}


.site-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;

  .site-image {
    flex: 0 0 100%;
    //background-color: rgba(255,255,255, 0.5);
    transition: flex-basis ease-in-out 350ms;
    position: relative;
    img {
      border: 0.25rem solid rgba(255,255,255, 0.5);
      border-radius: 0.25rem;
      margin-bottom: 0.5rem;
    }
    color: $darkDirtColor;

    .hover-selector {
      position: absolute;
      display: none;
      top: 5px;
      left: 5px;
    }

    &:hover {
      .hover-selector {
        display: block;
      }
    }

    picture, img {
      max-width: 100%;
      height: auto;
      text-align: center;
    }
    &.site-image--selected {
      flex-basis: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media (orientation: landscape) {
        picture, img {
          max-width: 100%;
          height: auto;
        }
      }
      @media (orientation: portrait) {
        picture, img {
          max-height: calc(100vh - 2rem);
          width: auto;
        }
      }
    }
  }
  &.site-images--2 {
    .site-image {
      flex-basis: calc(50% - 0.5rem);
    }
  }
  &.site-images--3 {
    .site-image {
      flex-basis: calc(33.333333% - 0.5rem);
    }
  }
  &.site-images--4 {
    .site-image {
      flex-basis: calc(25% - 0.5rem);
      @media screen and (max-width: 576px) {
        flex-basis: calc(50% - 0.5rem);
      }
    }
  }
}

.site-header__container {
  position: relative;
  margin-bottom: 2rem;

  .site--edit-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .site-title {
    padding: 1rem 2rem;
    h1,
    .site-location {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    max-width: calc(100vw - 2rem);
  }
  &.has-image {
    .site-title {
      color: white;
      text-shadow: 1px 1px 5px black;
    }
  }
}
